* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

a {
  color: inherit; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-fill-color: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/* ****************************************************************** */
body {
  background-color: #fff;
  height: 100%;
  /*fullscreen block*/
  font-size: 15px;
  font-family: 'Roboto', sans-serif; }

.hover-btn:hover {
  transition: 0.3s ease-in-out;
  filter: invert(20%); }

.wrapper {
  min-height: 100vh;
  /*fullscreen block*/
  display: flex;
  /*fullscreen block*/
  flex-direction: column;
  /*fullscreen block*/ }

.fullscreen {
  min-height: 100vh;
  /*fullscreen block*/
  display: flex;
  /*fullscreen block*/
  background-color: #89898b;
  text-transform: uppercase; }

.fullscreen__body {
  flex: 1 1 auto;
  /*fullscreen block*/
  max-width: 1200px;
  /*fullscreen block*/
  margin: 0 auto;
  /*fullscreen block*/
  text-align: center;
  /*fullscreen block*/
  display: flex;
  /*fullscreen block*/
  flex-direction: column;
  /*fullscreen block*/
  justify-content: center;
  /*fullscreen block*/
  padding: 10px; }
  .fullscreen__body .logo {
    margin-bottom: 5%; }
  .fullscreen__body .greeting__title {
    color: #fff;
    margin-bottom: 3%; }
  .fullscreen__body h1 {
    letter-spacing: 2px;
    color: #ffe600;
    font-weight: 300;
    font-size: 2.666rem; }
  .fullscreen__body .fullscreen__btn {
    background-color: transparent;
    border: 1px solid #ffe600;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    display: inline;
    margin: 9% auto 6vh auto;
    padding: 1.3rem 5rem; }
  .fullscreen__body .fullscreen__arrow_btn {
    width: 3rem;
    margin: 0 auto;
    background-color: transparent; }

.navbar {
  border-bottom: 1px solid #ffe600;
  background-color: rgba(255, 255, 255, 0.97);
  width: 100%; }
  .navbar .width-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 2.333rem 10px;
    display: flex;
    justify-content: space-between; }
    .navbar .width-container .menu-wrap {
      display: flex;
      align-items: center; }
    .navbar .width-container .menu .menu-item {
      display: inline;
      color: #8e8e8e;
      padding: 1rem 20px; }
      .navbar .width-container .menu .menu-item a {
        text-transform: uppercase; }
    .navbar .width-container .menu .menu-item:hover {
      padding: 1rem 19px;
      border: 1px solid #ffe600;
      color: #000;
      cursor: pointer; }
    .navbar .width-container .menu .active-menu-item {
      border: 1px solid #ffe600;
      color: #000;
      padding: 1rem 19px;
      cursor: auto; }
      .navbar .width-container .menu .active-menu-item a:hover {
        cursor: auto; }
    .navbar .width-container .menu .active-menu-item:hover {
      cursor: auto; }

/*# sourceMappingURL=style.css.map */
