//  null browser style
@import "nullstyle.scss";

// variables
// $fs: 16px;
$yellow: #ffe600;
$light-gray: #8e8e8e;
$black : #000;
$white: #fff;





// body {
//   font-family: 'Roboto', sans-serif;
//   font-size: $fs;
//   color: $color3;
//   @media (max-width: 768px) {
//     // padding: 0 1em;
//     font-size: $fs*1.5;
//   }
// }


// .hero-content {
//   background: $color2;
//   min-height: 50px;
//   color: $color1;
//   padding: 7px 15px;
//   & h1 {
//     font-size: 1.625em;
//   }
// }

body {
  background-color: $white;
  height: 100%;  /*fullscreen block*/
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.hover-btn:hover {
  transition: 0.3s ease-in-out;
  filter: invert(20%); 
}

.wrapper {
  min-height: 100vh; /*fullscreen block*/
  display: flex; /*fullscreen block*/
  flex-direction: column; /*fullscreen block*/
}

.fullscreen {
  min-height: 100vh; /*fullscreen block*/
  display: flex; /*fullscreen block*/
  background-color: #89898b;
  text-transform: uppercase;
}

.fullscreen__body {
  flex: 1 1 auto; /*fullscreen block*/
  max-width: 1200px; /*fullscreen block*/
  margin: 0 auto; /*fullscreen block*/
  text-align: center; /*fullscreen block*/
  display: flex; /*fullscreen block*/
  flex-direction: column; /*fullscreen block*/
  justify-content: center; /*fullscreen block*/
  padding: 10px;

  & .logo {
    margin-bottom: 5%;
  }

  & .greeting__title {
    color: $white;
    margin-bottom: 3%;
  }

  & h1 {
    letter-spacing: 2px;
    color: $yellow;
    font-weight: 300;
    font-size: 2.666rem;
  }

  & .fullscreen__btn {
    background-color: transparent;
    border: 1px solid $yellow;
    text-transform: uppercase;
    color: $white;
    font-size: 1rem;
    display: inline;
    margin: 9% auto 6vh auto;
    padding: 1.3rem 5rem;
  }

  & .fullscreen__arrow_btn {
    width: 3rem;
    margin: 0 auto;
    background-color: transparent;
  }
}

.navbar {
  border-bottom: 1px solid $yellow;
  background-color: rgba(255, 255, 255, 0.97);
  width: 100%;

  & .width-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 2.333rem 10px;
    display: flex;
    justify-content: space-between;

    & .menu-wrap {
      display: flex;
      align-items: center;
    }

    & .menu {
      
      & .menu-item  {
        display: inline;
        color: $light-gray;
        padding: 1rem 20px;

        & a {
          text-transform: uppercase;
        }
      }

      & .menu-item:hover {
        padding: 1rem 19px;
        border: 1px solid $yellow;
        color: $black;
        cursor: pointer;
      }

      & .active-menu-item {
        border: 1px solid $yellow;
        color: $black;
        padding: 1rem 19px;
        cursor: auto;

        & a:hover {
          cursor: auto;
        }
      }

      & .active-menu-item:hover {
        cursor: auto;
      }
    }
  }
}





